.newRec{
    width:550px;
    margin-left: 30px;
    padding: auto;
    margin: auto;
    margin-top: 15px;
    background-color: white;
  }
  .reg{
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRh2hHRzIaTfOsxjlbJ3rTBhHQemR0g77iDnQ&usqp=CAU');
  }
  .newForm{
      position: relative;
      padding: 20px;
  }
  .recordButtons{
      position: relative;
      margin: auto;
  }
  .backbutton{
      position: relative;
      margin-left: 170px;
      margin-right: 10px;
  }
  .submitbutton{
    position: relative;
    margin-left: 10px;
    margin-right: 100px;
  }
  .heading{
      text-align: center;
  }
.bp{
    width: 10%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    color: white;
  
  }
  Form.Control.Feedback[type="valid"]{
      display: none;
  }