.formhome {
    margin: 200px;
    width: 400px;
    display: flex;
    padding: 30px;
}
.home {
    width: fit-content;
    margin: auto;
    display: flex;
}
.font{
    color: black;
    width: 500px;
}
.patientpor{
    width: 200px;
    display: flex;
    margin: 30px;
    margin-left: 0px;
    margin-top: 130px;
}
.carousalpor{
    height: 300px;
    width: 300px;
    display: flex;
    margin: 30px;
    margin-top: 130px;
}

.doctorpor{
    width: 200px;
    display: flex;
    margin: 30px;
    margin-left: 200px;
    margin-top: 130px;
}